<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A donation page for the individual and the donation centers."
    />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
      integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/Components/about.css" />
  </head>

  <body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Donation Center</a>

        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="/index.html" class="pure-menu-link"> Home</a>
          </li>
          <li class="pure-menu-item pure-menu-selected">
            <a href="/Components/about.html" class="pure-menu-link"> About </a>
          </li>
          <li class="pure-menu-item">
            <a href="/Components/form.html" class="pure-menu-link">Sign Up</a>
          </li>

          <li class="pure-menu-item">
            <a href="/Components/contact.html" class="pure-menu-link"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="ribbon l-box-lrg pure-g">
      <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <h1 style="color: white">About Us</h1>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
        <h2 class="content-head content-head-ribbon">Natan Ceballos</h2>

        <img src="/bitmoji/modnatan.png" />

        <p>
          Hello Yall! I am a senior in High School interested in all things Web
          Development! With an interest to become a full stack developer! I'm
          going to study Computer Science in NJCU. I've had experience doing
          small projects on my own and have deployed using AWS (Amazon Web
          Services) in the past. Feel free to reach out!
        </p>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
        <h2 class="content-head content-head-ribbon">Derrick Sanchez</h2>

        <img src="/bitmoji/derrick.png" />

        <p>
          Hi, name is Derrick Sanchez! I am a rising freshman at NJIT studying
          computer science. I enjoy programming as a past time and hope to
          hopefully get a job as a software engineer.
        </p>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
        <h2 class="content-head content-head-ribbon">Tony Isern</h2>

        <img src="/bitmoji/tonyMod.png" />

        <p>
          Hi, name is Tony Isern! I am a rising freshman at NJCU studying
          computer science. I enjoy programming in python and am interested in
          Machine Learning.
        </p>
      </div>
    </div>
  </body>
</html>
